<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbConfigSectionHandler"    type="Immas.Database.Config.ImmasDbConfigSectionHandler,    Immas.Database" />
  </configSections>

  <dbConfigSectionHandler dbLoggerName = "DB">
    <elements>
      <add dbName           = "MES_DB"
           dbType           = "MSSQL"
           connectionString = "Server=211.229.241.211;
                                     Database=IMMAS_MES;
                                     User Id=je.lee;
                                     Password=1;
                                     Integrated Security=False;"/>


      <add dbName           = "MES_ORACLE"
           dbType           = "ORACLE"
           connectionString = "User Id = system;Password = system;Data Source = (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));"/>


    </elements>
  </dbConfigSectionHandler>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>